<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>文章分类</title>
<link href="/main/css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="/main/js/jquery.min.js"></script>
<link href="/main/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript" src="/main/js/bootstrap.js"></script>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
<script src="/main/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			pager: true,
		  });
		});
	</script>
	<script type="text/javascript" src="/main/js/move-top.js"></script>
	<script src="/assets/js/template-web.js"></script>
	<script type="text/javascript" src="/main/js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
	<!-- header-section-starts-here -->
		<div class="header">
		<div class="header-bottom">
			<div class="navigation">
				<nav class="navbar navbar-default" role="navigation">
		    <div class="wrap">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

				</div>
				<!--/.navbar-header-->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					 <li class="active"><a href="/main/index">SOCIAL BLOG</a></li>
						<li><a href=""><h4>博客专栏</h4></a></li>
				    <li>
						<a href="#" data-toggle="dropdown"><h4>个人主页</h4></a>
					  </li>
					<li><a href=""><h4>博客管理</h4></a></li>
					<li><a href="/main/pageList"><h4>文章库</h4></a></li>
                    <li th:if="${session.user == null}"><a href="" ><h4>登录</h4></a></li>
                    <li th:if="${session.user != null}"><a href=""><h4>登出</h4></a></li>
					<div class="clearfix"></div>
				</ul>
				<div class="search">
					<!-- start search-->
				    <div class="search-box">
					    <div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search"/>
								<input class="sb-search-submit" type="submit" value=""/>
								<span class="sb-icon-search"> </span>
							</form>
						</div>
				    </div>
					<!-- search-scripts -->
					<script src="/main/js/classie.js"></script>
					<script src="/main/js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->
					</div>
					<div class="clearfix"></div>
			</div>
			</div>
				</nav>
			</div>

		</div>

	<!-- header-section-ends-here -->
	<div class="wrap">

	</div>

	<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
			<div class="col-md-8 content-left">
				<!--content 开始-->


				<div class="articles" >
					<header>
						<h3 class="title-head">文章分类</h3>
					</header>
					<!--  开始-->

					<script type="text/html" id="post">
						<div class="article">
							<div class="article-right">
								<div class="article-title">
									<p>{{c_create_time}}</p>
									<a class="title" href="/paper/{{id}}" >{{title}} </a>
								</div>
							</div>
							<div class="article-left">
								<a href="/paper/{{id}}"><img src="{{image}}"  height="200px"  alt="" /></a>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
					</script>
					<div id="content"></div>
					<!--分页-->
					<script src="/main/js/jquery.twbsPagination.min.js"></script>


					<ul id="pagination-demo" class="pagination pagination-lg">
					</ul>

					<script type="text/javascript">


                        var url;
                        function init(url,list) {
                            var search = window.location.search;
                            var sp = search.split("=",2);
                            var text = sp[1];
                            // alert(text)
                            $.ajax({
                                type: "post",
                                dataType: "json",
                                url: url,
                                timeout: 20000,
                                cache: false,
                                success: function (data) {
                                    var i;
                                    var j;
                                    // alert(data.size);
                                    for (i in data.list) {
                                        list = template('post', data.list[i]) + list;
                                    }
                                    document.getElementById('content').innerHTML = list;
                                    var pages = data.pages;
                                    var visiablepage;
                                    if(pages >= 5 ){
                                        visiablepage = 5;
                                    }else{
                                        visiablepage = pages;
                                    }
                                    $('#pagination-demo').twbsPagination({
                                        totalPages: 18,
                                        visiblePages: visiablepage,
                                        first:"首页",
                                        prev:"上一页",
                                        next:"下一页",
                                        last:"尾页",
                                        onPageClick: function (event, page) {
                                            console.log(page);//page为当前页码
                                            $('#page-content').text('Page ' + page);
                                            url = '/column/findAllColumn/'+page+search;
                                            // if(page!=data.pageNum){
                                                var  newList= ""
                                                init(url,newList);
                                        }
                                    });
                                }
                            })
                        }
                        $(document).ready(function () {
                            url = '/column/findAllColumn/1';
                 			init(url);
                        })
					</script>

					<script>

					</script>
					<!-- 结束-->
				</div>
				<div class="clearfix"></div>







                <!--content结束-->
            </div>

			<div class="col-md-4 side-bar">

			<div class="first_half">
                <!--右侧 三重合label ajax数据显示 开始-->
				<div class="list_vertical">
		            <section class="accordation_menu">
                        <div>
                            <input id="label-1" name="lida" type="radio" checked/>
                            <label for="label-1" id="item1"><i class="ferme"> </i>一月内热文排行<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a1">
                                <div class="scrollbar" id="style-2">
                                    <div class="force-overflow">
                                        <div class="popular-post-grids">
                                            <script type="text/html" id="hotPaper">
                                            <div class="popular-post-grid">
                                                <div class="post-img">
                                                    <a href="/paper/{{id}}"><img src="{{paper_image}}" alt="" /></a>
                                                </div>
                                                <div class="post-text">
                                                    <a class="pp-title" href=/paper/{{id}}"> {{title}}</a>
                                                    <p>{{create_time}} <a class="span_link" href="#"> &nbsp;&nbsp;&nbsp;观看数:<span class="glyphicon glyphicon-eye-open"></span>{{mark}} </a></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            </script>
                                            <script type="text/javascript">
                                                var h1 ='';
                                                $(document).ready(function () {
                                                    var url = '/paper/hotPapersInMonth';
                                                    $.ajax( {
                                                        type : "post",
                                                        dataType:"json",
                                                        url : url,
                                                        timeout : 20000,
                                                        cache : false,
                                                        success : function(data) {
                                                            var i;
                                                            for(i in data.list){
                                                                h1 = template('hotPaper', data.list[i])+h1;
                                                            }
                                                            document.getElementById('hotPaperInMonth').innerHTML = h1;
                                                        }

                                                    });
                                                })
                                            </script>
                                            <div id="hotPaperInMonth"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input id="label-2" name="lida" type="radio"/>
                            <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>热门主题<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a2">
                                <div class="scrollbar" id="style-2">
                                    <div class="force-overflow">
                                        <div class="popular-post-grids">
                                            <script type="text/html" id="column">
                                                <div class="popular-post-grid">
                                                <div class="post-img">
                                                    <a href="single.html"><img src="{{image}}" width="100" style="height: 80px" alt="" /></a>
                                                </div>
                                                <div class="post-text">
                                                    <a class="pp-title" href="single.html"> {{title}}</a>
                                                    <p>{{c_create_time}}"></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </script>
                                            <script type="text/javascript">
                                                h ='';
                                                $(document).ready(function () {
                                                    var url = '/column/findColumByCount';
                                                    $.ajax( {
                                                        type : "post",
                                                        dataType:"json",
                                                        url : url,
                                                        timeout : 20000,
                                                        cache : false,
                                                        success : function(data) {

                                                            // alert(data.colum[1].c_create_time)
                                                            var i;
                                                            var j;
                                                            for(i in data.colum){
                                                                h = template('column', data.colum[i])+h;
                                                            }
                                                            document.getElementById('themeContent').innerHTML = h;
                                                        }

                                                    });
                                                })
                                            </script>
                                            <div id="themeContent"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input id="label-3" name="lida" type="radio"/>
                            <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i>旧文新评<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a3">
                                <div class="scrollbar" id="style-2">
                                    <div class="force-overflow">
                                        <div class="response">
                                            <script type="text/html" id="comment">
                                            <div class="media response-info">
                                                <div class="media-left response-text-left">
                                                    <a href="#">
                                                        <img class="media-object" src="{{paper_image}}" height="50" style="width: 80px" alt="" />
                                                    </a>
                                                    <h5><a href="#">{{title}}</a></h5>
                                                </div>
                                                <div class="media-right response-text-right">
                                                    <p>{{comments_user_name}} Ref: {{comments_content}}</p>
                                                    <ul>
                                                        <li>{{comments_time}}</li>
                                                        <li><a href="single.html">Reply</a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"> </div>
                                            </div>
                                            </script>
                                            <script type="text/javascript">
                                                var comment ='';
                                                $(document).ready(function () {
                                                    var url = '/comments/commentsWithPaperAndUserMes';
                                                    $.ajax( {
                                                        type : "post",
                                                        dataType:"json",
                                                        url : url,
                                                        timeout : 20000,
                                                        cache : false,
                                                        success : function(data) {

                                                            // alert(data.colum[1].c_create_time)
                                                            var i;
                                                            var j;
                                                            for(i in data.comments){
                                                                comment = template('comment', data.comments[i])+comment;
                                                            }
                                                            document.getElementById('commentsContent').innerHTML = comment;
                                                        }

                                                    });
                                                })
                                            </script>
                                            <div id="commentsContent"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </section>

                </div>
                <!--右侧 三重合label ajax数据显示 结束 在div class=first_half里面-->
            </div>

					 <div class="secound_half">
						 <!--标签栏 全部标签 限量20-->
					 <div class="tags">

						<header>
							<h3 class="title-head">Tags</h3>
						</header>
						 <script type="text/javascript">
                             var h1 ='';
                             $(document).ready(function () {
                                 var url = '/tag/tags';
                                 $.ajax( {
                                     type : "post",
                                     dataType:"json",
                                     url : url,
                                     timeout : 20000,
                                     cache : false,
                                     success : function(data) {
//                alert(JSON.stringify(data.column[0]));
                                         h1 = template('tags', data);
                                         document.getElementById('tagContent').innerHTML = h1;
                                     }

                                 });
                             })

						 </script>


							<script type="text/html" id="tags">
								{{each tags value i}}
                                <a id="tagName" class="tag{{i}}" href="/tag/returnTagPage?tagName={{value}}" >{{value}} </a>
								{{/each}}

							</script>

						 <p id="tagContent"></p>

					 </div>


					 <div class="popular-news">
						<header>
							<h3 class="title-popular">精品文章</h3>
						</header>
						 <!-- 侧边栏热门文章 art-templete 开始-->
						 <script type="text/html" id="post_list">
							 <div class="popular-grid">
								 <a href="/paper/{{id}}"><img src="{{paper_image}}" alt="" /></a>
								 <a class="title" href="/paper/{{id}}">{{title}}</a>
								 <p href="/paper/{{id}}">{{segment}}</p>
								 <p>{{create_time}} <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>{{count}} </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>{{mark}}</a></p>
							 </div>
						 </script>
						 <script type="text/javascript">
                             var html3 ='';
                             $(document).ready(function () {
                                 url = '/paper/PapersByMark';
                                 $.ajax( {
                                     type : "post",
                                     dataType:"json",
                                     url : url,
                                     timeout : 20000,
                                     cache : false,
                                     success : function(data) {
//                alert(JSON.stringify(data.column[0]));
                                         var i;
                                         var j;
                                         for(i in data.paper){
                                             html3 = template('post_list', data.paper[i])+html3;
                                         }
                                         document.getElementById('content4').innerHTML = html3;
                                     }

                                 });
                             })
						 </script>
						<div class="popular-grids">
							<div id="content4"></div>
						</div>
						 <!-- 侧边栏热门文章 art-templete 结束-->
					</div>
					</div>
					<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- content-section-ends-here -->

	<!-- footer-section-starts-here -->
	<div class="footer">
		<div class="footer-top">
			<div class="wrap">
				<div class="col-md-4 col-xs-6 col-sm-4 footer-grid">
					<h4 class="footer-head">关于我们</h4>
					<p>github地址:xxxx-xxxx-xxxx-xxxx-xxxx-xxxx</p>
                    <p>项目地址:xxxx-xxxx-xxxx-xxxx-xxxx-xxxx</p>
                    <p>使用框架结构:xxxx-xxxx-xxxx-xxxx-xxxx-xxxx</p>
                    <p>通用教程和资料:xxxx-xxxx-xxxx-xxxx-xxxx-xxxx</p>
				</div>
				<div class="col-md-4 col-xs-8 col-sm-2 footer-grid">
					<h4 class="footer-head">分类</h4>
					<ul class="cat">
						<li><a href="business.html">主页</a></li>
						<li><a href="technology.html">博客专栏</a></li>
						<li><a href="entertainment.html">个人主页</a></li>
						<li><a href="sports.html">博客管理</a></li>
						<li><a href="shortcodes.html">所有文章</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-xs-8 footer-grid">
					<h4 class="footer-head">联系我们</h4>
					<address>
						<ul class="location">
							<li><span class="glyphicon glyphicon-map-marker"></span></li>
							<li>天津理工大学 计算机科学与技术</li>
							<div class="clearfix"></div>
						</ul>
						<ul class="location">
							<li><span class="glyphicon glyphicon-earphone"></span></li>
							<li>151-226-36xxx</li>
							<div class="clearfix"></div>
						</ul>
						<ul class="location">
							<li><span class="glyphicon glyphicon-envelope"></span></li>
							<li><a href="mailto:info@example.com">1977713379@qq.com</a></li>
							<div class="clearfix"></div>
						</ul>
					</address>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>
	<!-- footer-section-ends-here -->
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				wrapID: 'toTop', // fading element id
				wrapHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----></div>
</body>
</html>
