<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8"/>
		<title>后台管理</title>
		<meta name="renderer" content="webkit"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="format-detection" content="telephone=no"/>

		<link rel="stylesheet" href="/layui/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/layui/css/global.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
		<script src="/assets/js/template-web.js"></script>
		<script src="/assets/js/jquery.min.js"></script>

	</head>

	<body>
        <input type="hidden" id="name1" th:value="${session.user}"/>
		<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #1aa094;">
			<div class="layui-header header header-demo">
				<div class="layui-main">
					<div class="admin-login-box">
						<a class="logo" style="left: 0;" th:href="@{/HomePage/1}">
							<span style="font-size: 22px;">Social Blog</span>
						</a>
						<div class="admin-side-toggle">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div>
						<div class="admin-side-full">
							<i class="fa fa-life-bouy" aria-hidden="true"></i>
						</div>
					</div>
					<ul class="layui-nav admin-header-item">
						<li class="layui-nav-item">
							<a th:href="@{/HomePage/1}">主页</a>
						</li>
						<li class="layui-nav-item">
							<a th:href="@{/personalPage/}+${session.user}+'/1'">个人主页</a>
						</li>
						<li class="layui-nav-item" id="video1">
							<a href="/column/findAllColumn/1">博客专题</a>
						</li>
						<li class="layui-nav-item">

                            <script type="text/html" id="userMes">
                                    <a href="javascript:;" class="admin-header-user">
                                        <img src="{{head}}" />
                                        <span>{{login_name}}</span>
                                    </a>
                            </script>

                            <div id="content"></div>

                            <script type="text/javascript">
                                var name = document.getElementById("name1").value;
                                var dui ='';
                                $(document).ready(function () {
                                    url = '/userMes/'+name;
                                    $.ajax( {
                                    type : "post",
                                    dataType:"json",
                                    url : url,
                                    timeout : 20000,
                                    cache : false,
                                    success : function(data) {
                                    dui = template('userMes', data);
                                    document.getElementById('content').innerHTML = dui;
                                    }
                                });
                                })
                            </script>

							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</a>
								</dd>
								<dd>
									<a href="javascript:;"><i class="fa fa-gear" aria-hidden="true"></i> 设置</a>
								</dd>
								<dd>
									<a href="/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
								</dd>
							</dl>
						</li>
					</ul>
					<ul class="layui-nav admin-header-item-mobile">
						<li class="layui-nav-item">
							<a href="login.html"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-side layui-bg-black" id="admin-side">
				<div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
			</div>
			<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
				<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
					<ul class="layui-tab-title">
						<li class="layui-this">
							<i class="fa fa-dashboard" aria-hidden="true"></i>
							<cite>控制面板</cite>
						</li>
					</ul>
					<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
						<div class="layui-tab-item layui-show">
							<iframe src="/mainPage"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-footer footer footer-demo" id="admin-footer">
				<div class="layui-main">
					<p>2017 &copy;
						<a href="https://github.com/NanYinIU">https://github.com/NanYinIU</a>
					</p>
				</div>
			</div>
			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>
			

			<script type="text/javascript" src="/layui/plugins/layui/layui.js"></script>
			<script type="text/javascript" src="/layui/datas/nav.js"></script>
			<script src="/layui/js/index.js"></script>
		</div>
	</body>

</html>