<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/template-web.js"></script>
        <script src="/assets/js/select2.full.min.js"></script>

        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/select2.min.css" />
        <link rel="stylesheet" href="/assets/css/dianzan/style.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->

		<link rel="stylesheet" href="/editmd/css/editormd.css" />
		<link rel="stylesheet" href="/editmd/css/editormd.preview.css" />

		<script src="/editmd/editormd.min.js"></script>

        <script src="/editmd/lib/marked.min.js"></script>
        <script src="/editmd/lib/prettify.min.js"></script>

		<script src="/editmd/lib/raphael.min.js"></script>
		<script src="/editmd/lib/underscore.min.js"></script>
		<script src="/editmd/lib/sequence-diagram.min.js"></script>
		<script src="/editmd/lib/flowchart.min.js"></script>
		<script src="/editmd/lib/jquery.flowchart.min.js"></script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="#">Social Blog</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#">博客专栏</a></li>
								<li><a href="#">博文排行</a></li>
								<li><a href="#">博客砖家</a></li>
								<li><a href="#">我的博客</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="searchForm" method="post" action="#">
										<input type="text" name="search" id="search" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="post" action="#">
									<input type="text" name="search" placeholder="Search" />
								</form>
							</section>
						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>博客专栏</h3>
											<p>Feugiat tempus veroeros dolor</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>博文排行</h3>
											<p>Sed vitae justo condimentum</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>博客砖家</h3>
											<p>Phasellus sed ultricies mi congue</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>我的博客</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
								</ul>
							</section>
						<!-- Actions -->
							<section>
								<ul class="actions vertical">
									<a th:if="${session.user == null}"><li><a href="/user/login" class="button big fit">登录</a></li></a>
									<a th:if="${session.user != null}"><li><a href="/user/logout" class="button big fit">更换账号</a></li></a>
								</ul>
							</section>

					</section>


				<!-- Main -->
				<!--post-->


				<div id="main">


					<!-- Post -->
					<article class="post"  >

								<div class="mini-posts">
									<!-- Mini Post -->
									<article class="mini-post">
									<div id="test-editormd">  </div>
										<script type="text/javascript">
                                            var testEditor;

                                            $(function() {
                                                testEditor = editormd("test-editormd", {
                                                    width: "90%",
                                                    height: 640,
                                                    path : '../editmd/lib/',
                                                    imageUpload : true,
                                                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                                    imageUploadURL : "/uploadFile",
                                                    emoji : true,
                                                    taskList : true,
                                                    saveHTMLToTextarea : true
                                                });
                                            });
                                        </script>
									</article>
								</div>

					</article>


                </div>
                <section id="sidebar">
                    <section>
                        <div class="mini-posts">

                            <!-- Mini Post -->
                            <article class="mini-post">
                                <header>
                                    <form>
                                        文章标题： <input type="text"/>
                                        文章标签： <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
                                                        <option value="AL">Alabama</option>
                                                        <option value="WY">Wyoming</option>
                                                        <option value="AL">Alabama</option>
                                                        <option value="WY">Wyoming</option>
                                                    </select>
                                        文章主题：<select class="js-example-basic-single" name="state">
                                                    <option value="AL">Alabama</option>
                                                    <option value="WY">Wyoming</option>
                                                    <option value="AL">Alabama</option>
                                                    <option value="WY">Wyoming</option>
                                                  </select>
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                $('.js-example-basic-multiple').select2();
                                                $('.js-example-basic-single').select2();
                                            });
                                        </script>
                                    </form>

                                </header>
                            </article>
                        </div>
                    </section>
                </section>

			</div>

		<!-- Scripts -->
			<!--<script src="/assets/js/jquery.min.js"></script>-->
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>