<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/template-web.js"></script>

        <link rel="stylesheet" href="/layui/plugins/layui/css/layui.css" media="all" />
        <script src="/layui/plugins/layui/layui.js"></script>

		<link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/dianzan/style.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
        <link rel="stylesheet" href="/editmd/css/editormd.css" />
        <link rel="stylesheet" href="/editmd/css/editormd.preview.css" />
        <script src="/editmd/lib/marked.min.js"></script>
        <script src="/editmd/lib/prettify.min.js"></script>

        <script src="/editmd/editormd.min.js"></script>

        <script src="/editmd/lib/raphael.min.js"></script>
        <script src="/editmd/lib/underscore.min.js"></script>
        <script src="/editmd/lib/sequence-diagram.min.js"></script>
        <script src="/editmd/lib/flowchart.min.js"></script>
        <script src="/editmd/lib/jquery.flowchart.min.js"></script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/HomePage/1" >Social Blog</a></h1>
						<nav class="links">
							<ul>
								<li><a th:href="@{/column/findAllColumn/1}">博客专栏</a></li>
								<li><a th:href="@{/personalPage/}+${session.user}+'/1'">个人主页</a></li>
								<li><a th:href="@{/cit}">博客管理</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>

								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Links -->
						<section>
							<ul class="links">
								<li>
									<a  th:href="@{/column/findAllColumn/1}">
										<h3>博客专栏</h3>
										<p>Feugiat tempus veroeros dolor</p>
									</a>
								</li>
								<li>
									<a th:href="@{/personalPage/}+${session.user}+'/1'">
										<h3>个人主页</h3>
										<p>查看个人主页页面</p>
									</a>
								</li>
								<li>
									<a th:href="@{/cit}">
										<h3>博客管理</h3>
										<p>layUi 后台管理</p>
									</a>
								</li>
							</ul>
						</section>
						<!-- Actions -->
							<section>
								<ul class="actions vertical">
									<a th:if="${session.user == null}"><li><a href="/user/login" class="button big fit">登录</a></li></a>
									<a th:if="${session.user != null}"><li><a href="/user/logout" class="button big fit">更换账号</a></li></a>
								</ul>
							</section>

					</section>


				<!-- Main -->
				<!--post-->
					<div id="main">


							<!-- Post -->
                        <input id="userId" type="hidden" th:value="${session.user}"/>
                        <input type="hidden" id="ByFocal" th:value="${page.login_name}" />
                        <!--<input type="hidden" id="paperId" th:value="${page.paper.id}" />-->
							<article class="post">
								<header>
									<div class="meta">

										<time class="published" datetime="2015-11-01" th:text="${page.paper.create_time}"></time>
										<a th:href="@{'/personalPage/'+${page.login_name}+'/0'}" class="author"><span class="name" th:text="${page.login_name}"></span><img th:src="${page.head}" alt="" /></a>
                                        <script type="text/html" id="friend_content">
                                            <div th:if="${session.user} != null">
                                                <div id="check" th:if="${session.user} != ${page.login_name}">
                                                    {{if flag}}
                                                    <button id="cancelFocal"  class="button fit" onclick="cancel()">取消关注</button>
                                                    {{/if}}
                                                    {{if !flag}}
                                                    <button id="addFocal"  class="button fit" onclick="add()">添加关注</button>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </script>
                                        <script type="text/javascript">
                                            var friend ='';
                                            $(document).ready(function () {
                                                var ByFocal = document.getElementById("ByFocal").value;
                                                var userId = document.getElementById("userId").value;
                                                $.ajax( {
                                                    type : "post",
                                                    data:{userId:userId,friendId:ByFocal},
                                                    dataType:"json",
                                                    url : '/user/checkFriends',
                                                    timeout : 20000,
                                                    cache : false,
                                                    success : function(data) {
                                                        friend = template('friend_content', data);
                                                        document.getElementById('friend').innerHTML = friend;
                                                    }

                                                });
                                            });
                                            layui.use(['laypage', 'layer', 'table', 'element'], function() {
                                                layer = layui.layer;//弹层


                                            });

                                            function cancel() {
                                                // 取消关注
                                                var ByFocal = document.getElementById("ByFocal").value;
                                                var userId = document.getElementById("userId").value;
                                                $.ajax( {
                                                    type : "post",
                                                    data:{userId:userId,friendId:ByFocal},
                                                    dataType:"json",
                                                    url : '/user/deleteFriends',
                                                    timeout : 20000,
                                                    cache : false,
                                                    success : function(data) {
                                                        if(data == 1){
                                                            layer.alert("取消关注成功！");
                                                            setTimeout(function () {
                                                                window.location.reload()
                                                            },1500)
//
                                                        }
                                                        else{
                                                            layer.alert("出现错误取消失败！")
                                                        }
                                                    }

                                                });

                                            };

                                            function add() {
                                                //添加关注
                                                var ByFocal = document.getElementById("ByFocal").value;
                                                var userId = document.getElementById("userId").value;
                                                $.ajax( {
                                                    type : "post",
                                                    data:{userId:userId,friendId:ByFocal},
                                                    dataType:"json",
                                                    url : '/user/addFriends',
                                                    timeout : 20000,
                                                    cache : false,
                                                    success : function(data) {
                                                        if(data == 1){
                                                            layer.alert("添加成功！");
                                                            setTimeout(function () {
                                                                window.location.reload()
                                                            },1500)
                                                        }
                                                        else{
                                                            layer.alert("出现错误添加失败！")
                                                        }
                                                    }

                                                });

                                            }

                                        </script>
                                        <div id="friend"></div>
									</div>
									<div class="title">
                                        <h2>
                                            <a id="title">
                                            <a id="paperTitle" th:text="${page.paper.title}"></a>
                                                <input type="hidden" id="paperId" th:value="${page.paper.id}"/>
                                            </a>
                                        </h2>
									</div>

								</header>
								<footer>
									<ul class="actions">
                                        <!-- 内容 -->
                                        <div id="view" style="width: 700px">
                                            <textarea style="display:none;" name="test-editormd-markdown-doc">###Hello world!</textarea>
                                        </div>

                                        <div id="view2">
                                            <textarea id="append-test" style="display:none;" th:text="${page.paper.content}">321</textarea>
                                        </div>
                                        <!--<li><p th:text="${page.paper.content}"></p></li>-->
									</ul>
                                    <!-- 代码显示 -->
                                    <script type="text/javascript">
                                        $(function() {
                                            var EditormdView, EditormdView2;

                                            $.get("test.md", function(markdown) {

                                                EditormdView = editormd.markdownToHTML("view", {
                                                    markdown        : markdown + "\r\n" + $("#append-test").text(),
                                                    //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                                                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                                                    //toc             : false,
                                                    tocm            : true,    // Using [TOCM]
                                                    emoji           : true,
                                                    taskList        : true,
                                                    tex             : true,  // 默认不解析
                                                    flowChart       : true,  // 默认不解析
                                                    sequenceDiagram : true,  // 默认不解析
                                                });


                                            });

                                            EditormdView2 = editormd.markdownToHTML("view2", {
                                                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                                                emoji           : true,
                                                taskList        : true,
                                                tex             : true,  // 默认不解析
                                                flowChart       : true,  // 默认不解析
                                                sequenceDiagram : true,  // 默认不解析
                                            });
                                        });
                                    </script>
                                    <!-- 显示代码 -->
								</footer>
                                <footer>

                                        <ul class="stats">
                                            <li>
                                                <div class="feed" id="feed3">
                                                    <a th:id="mark" rel="like" class="heart">
                                                        <div class="likeCount" id="likeCount" th:text="${page.paper.mark}">10</div>
                                                    </a>
                                                </div>
                                            </li>
                                            <li></li>
                                            <li>
                                                <div class="feed" id="feed4">
                                                <a href="#ju" class="icon fa-comment"><span class="font-green" id="likeNum" th:text="${page.count}"></span></a>
                                                </div>
                                            </li>

                                            <li><button onclick="addItem()" class="button fit">收藏本篇文章</button></li>
                                        </ul>
                                    <!--点赞js-->
                                        <script >
                                            $(document).ready(function()
                                            {
                                                var title = document.getElementById("paperTitle").innerHTML;
                                                pageId = document.getElementById("paperId").value;
//                                                alert(pageId)
                                                $('body').on("click",'.heart',function()
                                                {
                                                    var A=$(this).attr("id");
                                                    var B=A.split("mark");
                                                    var messageID=B[1];

                                                    var C=parseInt($("#likeCount"+messageID).html());
                                                    $(this).css("background-position","");
                                                    var D=$(this).attr("rel");
                                                    if(D === 'like')
                                                    {
                                                        $("#likeCount"+messageID).html(C+1);
                                                        var url = '/markAdd';
                                                        var data = {"mark":C,"id":pageId};
                                                        $.ajax({
                                                            type : "post",
                                                            dataType:"json",
                                                            data : data,
                                                            url : url,
                                                            timeout : 20000,
                                                            cache : false,
                                                            success : function(data) {

                                                            }
                                                        });
                                                        $(this).addClass("heartAnimation").attr("rel","unlike");

                                                    }
                                                    else
                                                    {
                                                        $("#likeCount"+messageID).html(C-1);
                                                        var url2 = '/markAdd';
                                                        var data2 = {"mark":C-2,"title":title};
                                                        $.ajax({
                                                            type : "post",
                                                            dataType:"json",
                                                            data : data2,
                                                            url : url2,
                                                            timeout : 20000,
                                                            cache : false,
                                                            success : function(data) {

                                                            }
                                                        });
                                                        $(this).removeClass("heartAnimation").attr("rel","like");
                                                        $(this).css("background-position","left");
                                                    }
                                                });
                                            });
                                        </script>
                                    <!--收藏js-->
                                        <script>
                                            function addItem() {
                                                var pageId = document.getElementById("paperId").value;
                                                var userName = document.getElementById("userId").value;
                                                $.ajax( {
                                                    type : "post",
                                                    data:{userName:userName,pageId:pageId},
                                                    dataType:"json",
                                                    url : '/faves/checkIsFaves',
                                                    timeout : 20000,
                                                    cache : false,
                                                    success : function(data) {
                                                        if(data.flag == true){
                                                            layer.alert("已经添加到收藏中，不必重新收藏！");
                                                        }
                                                        else{
                                                            $.ajax( {
                                                                type : "post",
                                                                data:{userName:userName,pageId:pageId},
                                                                dataType:"json",
                                                                url : '/faves/addItem',
                                                                timeout : 20000,
                                                                cache : false,
                                                                success : function(data) {
                                                                    if(data == 1){
                                                                        layer.alert("添加收藏成功")
                                                                    }
                                                                    else{
                                                                        layer.alert("出现错误取消失败！")
                                                                    }
                                                                }

                                                            });

                                                        }
                                                    }

                                                });


                                            };
                                        </script>


                                </footer>
							</article>

					<!--评论区 开始-->

                        <article class="post"  th:each="comment,pageStat :${page.comments}">
                            <header>
                                <div class="meta" id="ju">
                                    <h2 th:text="${pageStat.index+1}+'楼：'"></h2>
                                    <time class="published" datetime="2015-11-01" th:text="${comment.comments_time}"></time>
                                </div>
                                <div class="title">
                                    <p th:text="${comment.comments_content}"></p>
                                </div>
                            </header>
                        </article>
                        <!--   评论提交 -->
                        <form method="post" id="form" name="form" >
                        <article class="post" >
                            <header>
                                <div class="meta">
                                 <textarea style="width: 840px" cols="50" rows="5" id="comment" name="comment"></textarea>
                                </div>
								<input type="hidden" id="id" name="id"  th:value="${page.paper.id}"/>
                            </header>
                            <footer>
                                <ul class="actions pagination">
									<li><button type="submit" class="button big" value="Submit"  onclick="submitBTN()">提交评论</button></li>
                                </ul>
                            </footer>
                        </article>
                        </form>
						<script>
                            function Trim(str)
                            {
                                return str.replace(/(^\s*)|(\s*$)/g, "");
                            }
							function submitBTN() {

                                    $.ajax({
                                        type: "post",
                                        dataType: "json",
                                        url: '/comments/insertComment',
                                        data: $('#form').serializeArray(),
                                        timeout: 20000,
                                        cache: false,
                                        success: function (data) {
                                            if (data === 1) {

                                                window.location.reload();
                                                window.location.href = "/page/" + pageId + "#ju";
                                            }


                                        }
                                    })
                            }
						</script>
					<!--评论区 结束-->
                        <script>
                            layui.use('util', function(){
                                var util = layui.util;
                                //执行
                                util.fixbar({
                                    bar1:'<p style="font-size: 5px">主页&nbsp;&nbsp;&nbsp;</p>'
//                                    ,bar2:true
                                    ,click: function(type){
                                        console.log(type);
                                        if(type === 'bar1'){
                                           window.location.href='/HomePage/1'
                                        }
                                    }
                                    ,bgcolor:'#5B5B5B'
                                });
                            });
                        </script>

                            <!-- Pagination -->
                        <script type="text/html" id="page" >
                            <ul class="actions pagination">
                                {{ if ! isPrePage}}
								<li><a th:href="@{/page/{{prePaper.id}}}"  class="button fit">{{prePaper.title}}</a></li>
                                {{/if}}
                                {{ if ! isNextPage}}
								<li><a th:href="@{/page/{{nextPaper.id}}}"  class="button fit">{{nextPaper.title}}</a></li>
                                {{/if}}

                            </ul>
                        </script>
                        <script>
                            //上一页和下一页的数据
                           var paperId = document.getElementById("paperId").value;
                            var Pagination ='';
                            $(document).ready(function () {
                                $.ajax( {
                                    type : "post",
                                    dataType:"json",
                                    data:{paperId:paperId},
                                    url : '/paper/PreAndNextPage',
                                    timeout : 20000,
                                    cache : false,
                                    success : function(data) {
                                        Pagination = template('page', data);
                                        document.getElementById('Pagination').innerHTML = Pagination;
                                    }

                                });
                            })
                        </script>
                        <div id="Pagination"></div>



					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
                                <h2>文章标签：</h2>
                                <h3 th:each="tag,pageStat :${page.tags}">
                                    <p href="#" class="icon fa-tags"><span class="font-green" th:text="${tag}"></span></p>
                                </h3>
							</section>

						<!-- Mini Posts 主题 -->
						<script type="text/html" id="mini_post">
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
									<article class="mini-post">
										<header>
											<h3><a th:href="@{/ColumnPage/{{title}}/1}">{{title}}</a></h3>
											<time class="published" datetime="2015-10-20">{{c_create_time}}</time>

										</header>
										<a th:href="@{/ColumnPage/{{title}}/1}" class="image"><img src="{{image}}" alt="" /></a>
									</article>
								</div>
							</section>
						</script>

						<script type="text/javascript">
                            var html2 ='';
                            $(document).ready(function () {
                                url = '/column/findColumByCount';
                                $.ajax( {
                                    type : "post",
                                    dataType:"json",
                                    url : url,
                                    timeout : 20000,
                                    cache : false,
                                    success : function(data) {
                                        var i;
                                        for(i in data.colum){
                                            html2 = template('mini_post', data.colum[i])+html2;
                                        }
                                        document.getElementById('content').innerHTML = html2;
                                    }

                                });
                            })
						</script>

						<div class="span12">
							<div id="content"></div>
						</div>

						<!-- postlist  -->
						<script type="text/html" id="post_list">

							<section>
								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a th:href="@{/page/{{id}}}">{{title}}</a></h3>
												<h4><a th:href="@{personalPage/{{login_name}}/1}">{{login_name}}</a></h4>
												<time class="published" datetime="2015-10-20">{{create_time}}</time>
											</header>
											<a  th:href="@{personalPage/{{login_name}}/1}" class="image"><img src="{{head}}" alt="" /></a>
										</article>
									</li>
								</ul>
							</section>
						</script>


						<script type="text/javascript">
                            var html3 ='';
                            $(document).ready(function () {
                                url = '/PapersByMark';
                                $.ajax( {
                                    type : "post",
                                    dataType:"json",
                                    url : url,
                                    timeout : 20000,
                                    cache : false,
                                    success : function(data) {
//                alert(JSON.stringify(data.column[0]));
                                        var i;
                                        var j;
                                        for(i in data.paper){
                                            html3 = template('post_list', data.paper[i])+html3;
                                        }
                                        document.getElementById('content4').innerHTML = html3;
                                    }

                                });
                            })
						</script>

						<div class="span12">
							<div id="content4"></div>
						</div>

						<!-- About -->
							<section class="blurb">
								<h2>关于</h2>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
								<ul class="actions">
									<li><a href="#" class="button">了解更多</a></li>
                                    <li><a th:text="${username}">..</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<p class="copyright">&copy; Untitled..</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>