<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/template-web.js"></script>
		<link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/dianzan/style.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="#">Social Blog</a></h1>
						<nav class="links">
                            <ul>
                                <li><a th:href="@{/column/findAllColumn/1}">博客专栏</a></li>
                                <li><a th:href="@{/personalPage/}+${session.user}+'/1'">个人主页</a></li>
                                <li><a th:href="@{/cit}">博客管理</a></li>
                            </ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="searchForm" method="post" action="#">
										<input type="text" name="search" id="search" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="post" action="#">
									<input type="text" name="search" placeholder="Search" />
								</form>
							</section>
						<!-- Links -->
                        <section>
                            <ul class="links">
                                <li>
                                    <a  th:href="@{/column/findAllColumn/1}">
                                        <h3>博客专栏</h3>
                                        <p>Feugiat tempus veroeros dolor</p>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/personalPage/}+${session.user}+'/1'">
                                        <h3>个人主页</h3>
                                        <p>查看个人主页页面</p>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/cit}">
                                        <h3>博客管理</h3>
                                        <p>layUi 后台管理</p>
                                    </a>
                                </li>
                            </ul>
                        </section>
						<!-- Actions -->
							<section>
								<ul class="actions vertical">
									<a th:if="${session.user == null}"><li><a href="/user/login" class="button big fit">登录</a></li></a>
									<a th:if="${session.user != null}"><li><a href="/user/logout" class="button big fit">更换账号</a></li></a>
								</ul>
							</section>

					</section>


				<!-- Main -->
				<!--post-->


				<div id="main">


					<!-- Post -->
					<article class="post" th:each="page,pageStat :${pageInfo.list}">
						<header>
							<div class="meta">
								<time class="published" datetime="2015-11-01" th:text="${page.create_time}"></time>
								<a th:href="@{'/personalPage/'+${page.login_name}+'/0'}" class="author"><span class="name" th:text="${page.login_name}"></span><img th:src="${page.head}" alt="" /></a>

							</div>
							<div class="title">
								<h2><a  id="title"><a th:href="@{/page/}+${page.id}" th:text="${page.title}"> </a></a>
								</h2>
                                <p th:text="${page.segment}"></p>
							</div>
						</header>
						<footer>
							<!--{{paper_image}}-->
							<ul class="actions">
								<li><a th:href="@{/page/}+${page.id}" class="button big">阅读完整文章</a></li>
							</ul>
						</footer>
					</article>



					<!-- Pagination -->
					<ul class="actions pagination">
						<li><a th:href="@{/HomePage/}+${pageInfo.prePage}" class="button big previous">Previous Page</a></li>
						<li><a th:href="@{/HomePage/}+${pageInfo.nextPage}" class="button big next">Next Page</a></li>
					</ul>





						<!--&lt;!&ndash; Pagination &ndash;&gt;-->
                        <!--<ul class="actions pagination">-->
                            <!--<li><a href="#" class="button big next">more pages..</a></li>-->
                        <!--</ul>-->


					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">

                                <a th:if="${session.user != null}"><a th:href="@{'/personalPage/'+${session.user}+'/1'}" class="logo"><img id="img" src="/images/logo.jpg" alt="" /></a></a>
                                <a th:if="${session.user == null}"><a href="/user/login" class="logo"><img src="/images/unlogin.jpg" alt="" /></a></a>
								<header>
                                    <a th:if="${session.user == null}"><h3>&nbsp;未登录</h3></a>
                                    <a th:if="${session.user != null}"><h3>欢迎&nbsp;<a th:text="${session.user}">......</a></h3></a>
									<!--<p th:text="${session.user}">..Another fine 每天都有好心情</p>-->
								</header>
							</section>
						<input type="hidden" th:value="${session.user}" id="userId" />
						<script>
                            $(document).ready(function () {
                                var user = document.getElementById("userId").value;
                                $.ajax({
                                    type: "post",
                                    dataType: "json",
                                    url: '/userMes/' + user,
                                    timeout: 20000,
                                    cache: false,
                                    success: function (data) {
                                        document.getElementById("img").src = data.head;
                                    }
                                })
                            })
						</script>

						<!-- Mini Posts 主题 -->
						<script type="text/html" id="mini_post">
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
									<article class="mini-post">
										<header>
											<h3><a th:href="@{/ColumnPage/{{title}}/1}">{{title}}</a></h3>
											<time class="published" datetime="2015-10-20">{{c_create_time}}</time>

										</header>
										<a th:href="@{/ColumnPage/{{title}}/1}" class="image"><img src="{{image}}" alt="" /></a>
									</article>
								</div>
							</section>
						</script>

						<script type="text/javascript">
                            var html2 ='';
                            $(document).ready(function () {
                                url = '/column/findColumByCount';
                                $.ajax( {
                                    type : "post",
                                    dataType:"json",
                                    url : url,
                                    timeout : 20000,
                                    cache : false,
                                    success : function(data) {
                                        var i;
                                        for(i in data.colum){
                                            html2 = template('mini_post', data.colum[i])+html2;
                                        }
                                        document.getElementById('content').innerHTML = html2;
                                    }

                                });
                            })
						</script>

						<div class="span12">
							<div id="content"></div>
						</div>

						<!-- postlist  -->
						<script type="text/html" id="post_list">

							<section>
								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a th:href="@{/page/{{id}}}">{{title}}</a></h3>
												<h4><a th:href="@{/personalPage/{{login_name}}/1}">{{login_name}}</a></h4>
												<time class="published" datetime="2015-10-20">{{create_time}}</time>
											</header>
											<a th:href="@{/personalPage/{{login_name}}/1}" class="image"><img src="{{head}}" alt="" /></a>
										</article>
									</li>
								</ul>
							</section>
						</script>


						<script type="text/javascript">
                            var html3 ='';
                            $(document).ready(function () {
                                url = '/PapersByMark';
                                $.ajax( {
                                    type : "post",
                                    dataType:"json",
                                    url : url,
                                    timeout : 20000,
                                    cache : false,
                                    success : function(data) {
//                alert(JSON.stringify(data.column[0]));
                                        var i;
                                        var j;
                                        for(i in data.paper){
                                            html3 = template('post_list', data.paper[i])+html3;
                                        }
                                        document.getElementById('content4').innerHTML = html3;
                                    }

                                });
                            })
						</script>

						<div class="span12">
							<div id="content4"></div>
						</div>

						<!-- About -->
							<section class="blurb">
								<h2>关于</h2>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
								<ul class="actions">
									<li><a href="#" class="button">了解更多</a></li>
                                    <li><a th:text="${username}">..</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<p class="copyright">&copy; Untitled..</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>