<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery-1.8.3.min.js"></script>
<script src="/assets/js/template-web.js"></script>

<link rel="stylesheet" href="/assets/css/dianzan/style.css" />
<link rel="stylesheet" href="/editmd/css/editormd.css" />
<link rel="stylesheet" href="/editmd/css/editormd.preview.css" />
<script src="/editmd/lib/marked.min.js"></script>
<script src="/editmd/lib/prettify.min.js"></script>

<script src="/editmd/editormd.min.js"></script>
<script src="/editmd/lib/raphael.min.js"></script>
<script src="/editmd/lib/underscore.min.js"></script>
<script src="/editmd/lib/sequence-diagram.min.js"></script>
<script src="/editmd/lib/flowchart.min.js"></script>
<script src="/editmd/lib/jquery.flowchart.min.js"></script>
<body>

            <div class="feed" id="feed2">
                <a class="heart" id="mark" rel="like"></a> <div class="likeCount" id="likeCount">10</div>
            </div>
<script >
    $(document).ready(function()
    {

        $('body').on("click",'.heart',function()
        {
            var A=$(this).attr("id");
            var B=A.split("mark");
            var messageID=B[1];
            var C=parseInt($("#likeCount"+messageID).html());
            $(this).css("background-position","");
            var D=$(this).attr("rel");
            if(D === 'like')
            {
                $("#likeCount"+messageID).html(C+1);
                $(this).addClass("heartAnimation").attr("rel","unlike");

            }
            else
            {
                $("#likeCount"+messageID).html(C-1);
                $(this).removeClass("heartAnimation").attr("rel","like");
                $(this).css("background-position","left");
            }
        });
    });
</script>






            <!-- 内容 -->
            <div id="view" style="width: 700px">
                <textarea style="display:none;" name="test-editormd-markdown-doc">###Hello world!</textarea>
            </div>

            <div id="view2">
                            <textarea id="append-test" style="display:none;" >

###科学公式 TeX(KaTeX)

$$E=mc^2$$

行内的公式$$E=mc^2$$行内的公式，行内的$$E=mc^2$$公式。

$$\(\sqrt{3x-1}+(1+x)^2\)$$

$$\sin(\alpha)^{\theta}=\sum_{i=0}^{n}(x^i + \cos(f))$$

$$X^2 > Y$$

#####上标和下标

上标：X&lt;sup&gt;2&lt;/sup&gt;

下标：O&lt;sub&gt;2&lt;/sub&gt;

##### 代码块里包含的过滤标签及属性不会被过滤

```html
&lt;style type="text/style"&gt;
body{background:red;}
&lt;/style&gt;

&lt;script type="text/javscript"&gt;
alert("script");
&lt;/script&gt;

&lt;iframe height=498 width=510 src="http://player.youku.com/embed/XMzA0MzIwMDgw" frameborder=0 allowfullscreen&gt;&lt;/iframe&gt;
```


                            </textarea>
            </div>

            <!-- 代码显示 -->
            <script type="text/javascript">
                $(function() {
                    var EditormdView, EditormdView2;

                    $.get("test.md", function(markdown) {

                        EditormdView = editormd.markdownToHTML("view", {
                            markdown        : markdown + "\r\n" + $("#append-test").text(),
                            //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                            htmlDecode      : "style,script,iframe",  // you can filter tags decode
                            //toc             : false,
                            tocm            : true,    // Using [TOCM]
                            emoji           : true,
                            taskList        : true,
                            tex             : true,  // 默认不解析
                            flowChart       : true,  // 默认不解析
                            sequenceDiagram : true,  // 默认不解析
                        });


                    });

                    EditormdView2 = editormd.markdownToHTML("view2", {
                        htmlDecode      : "style,script,iframe",  // you can filter tags decode
                        emoji           : true,
                        taskList        : true,
                        tex             : true,  // 默认不解析
                        flowChart       : true,  // 默认不解析
                        sequenceDiagram : true,  // 默认不解析
                    });
                });
            </script>
            <!-- 显示代码 -->


            <!--整完这点主页就写完了。 在写各自的我文章页。。-->
</body>
</html>